@media screen and (max-width: 750px) {
    .showburger .hamburger .menu::before{
        /* background-color: transparent; */
        transform: rotate(-45deg);
        width: 80%;
        bottom: 6px !important;
    }
    
    .showburger .hamburger .menu::after{
        /* background-color: transparent; */
        width: 80%;
        bottom: -6px !important;
        transform: rotate(45deg);
    }

    .signup .aii{
        width: 150px;
    }

    .aii{
        /* transition: all 5s ease !important; */
        /* transition-delay:all 2s; */
        transform: translateX(0);
        transition: all 1.5s ease !important;
    }
    
    .navel .signup .aii{
        opacity: 0;
        transform: translateX(500px);
        /* transition: all 0.3s ease; */
        /* transition-delay:all 0s; */
    }

    .nav{
        background-color: transparent;
        z-index: 2;
    }
    
    .navel{
        backdrop-filter: blur(2px) !important; 
        /* position: relative; */
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid transparent !important;
    }


    .ai{
        display: none;
    }



    .desktop-links-holder{
        width: 60vw !important;
    }

    /* .showburger{
        position: absolute !important;
        left: -10px;
        z-index: 10;
    } */

    .hamburger{
        border: 2px solid black;
    }


    .showburger .hamburger{
        border: 2px solid white;
    }

    .dxft{
        width: 100vw !important;
    }


    .move{
        transform: translateX(60vw) !important;
    }
    
    
    
    .move .playlists{
        /* z-index: -5 !important; */
        filter: grayscale();
        /* filter: blur(5px); */
    }

    /* .desktop-footer .senddown{
        display: none;
    } */

    .desktop-footer{
        position: absolute;
        bottom: 0;
        padding: 15px 0 !important;
        display: flex;
        justify-content: center !important;
        align-items: center; 
    }

    .desktop-footer .signend a{
        /* opacity: 0; */
        display: none !important;
    }

    .trend{
        min-width: 300px;
        height: 200px;
        margin-left: 30px;
    }

    .trend:hover{
        scale: 1;
    }

    .trend .artist-name{
        font-size: 7px;
    }


    .trend .song-name{
        font-size: 30px;
    }

    .trap{
        min-width: 240px;
        height: 200px;
        margin-left: 20px;
    }

    .trapi{
        margin-left: 30px;
    }

    .trap:hover{
        scale: 1;
    }

    .trap .playlist-name{
        font-size: 25px;
    }

    .trap .playlist-genre{
        font-size: 20px;
        /* letter-spacing: 2px; */
    }
}